body{
    background:#FCF3CF;
    padding:0;
    margin:0;
    font-family: Bradley, sans-serif;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10%;
    max-width:25px;

}

nav{
    /* --- New Color for the NAV ---  */
    background: #FCFC3CF;
    /* background: grey; */
    /* height: 60px; */
    text-align: center;
    font-family: Georgia, serif;
}

nav a{
    text-align: center;
    color:black;
    font-size: 1.5em;
    padding:15px;
    margin:10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

/* Styles for hero or feature */
.hero{
    background-image: url("img/choirret.png");
    height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    /* background stuff above */
    /* moving text below */
    position: relative;
}
.hero h2{
    position: absolute;
    bottom:20%;
    right:5%;
}
button{
    position:absolute;
    bottom: 8%;
    right:5%;
    background: none;
    padding:5px;
    border:2px black solid;
    color:black;
    font-size: 1.3em;
    border-radius: 5px;
}

main{
    margin: 20px auto;
        /* top right bottom left */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.flexItem{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 2px;
    background: #FCFC3CF;
    padding:30px;
}
.column1of3, .column2of3, .column3of3 {
  float: left;
  width: 300px;
  margin: 10px;}


img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;

}
/* medium size below */
@media screen and (min-width: 700px) {
        .logo{
            /* width:350px; */
        }
        img{
            display: inline;
            width:30%;
        }
}
/* large screen styles below */
@media screen and (min-width: 1300px) {

    img{

    }

}
